<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Flight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flight.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>USB</value>
            </setting>
            <setting name="FieldWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FieldHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FieldTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FieldLeft" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>0.025</value>
            </setting>
            <setting name="PowerOffOnIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolverX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolverY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolverStepsizeX" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ResolverStepsizeY" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="ResolverRangeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResolverRangeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FieldDepth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FieldFront" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PowerDC0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerDC100" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PowerMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerPulseRate" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DeflectorRange" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LaserPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PRF" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BurstSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LaserSerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PoD" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PoDEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Flight.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
